/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}

body{
	margin: 0;
}
canvas{
	/*width: 1351px;*/
	/*height: 100%;*/
	height: 564.5px;
	/*margin-top: 1129px;*/
}

.home{
	/*z-index: 900;*/
	display: block;
	position: absolute;
	/*background-image: url("../pic/galaxy2.jpg");*/
	/*background-color: black;*/
	margin-top:0px;
	height: 564.5px;
	width: 100%;
}

.icon img{
	position: fixed;
	opacity: 0.7;
	width: 100px;
	right: 15px;
	bottom: 15px;
	z-index: 999;
}

.icon img:hover{
	opacity: 1;
}

.rocket img{
	float: left;
	transform: rotate(30deg);
	margin-top: 150px;
	margin-left: 100px;
	transition: all 0.5s;
}

.rocket img:hover{
	transform:scale(1.2,1.2);
}

.choice{
	float: left;
	margin-top: 100px;
	margin-left: 100px;
	width: 150px;
	height: 150px;
}

.cardboard{ margin: 220px 10px 0px 100px; }

.planets{ margin: 220px 10px 0px 50px; }

.sort{ margin: 220px 10px 0px 50px; }

.star{ margin: 220px 10px 0px 50px; }

.choice img{
	width: 85%;
	transition: all 0.5s;
}

.choice img:hover{
	transform:scale(1.2,1.2);
}

.part1{
	display: block;
	position: absolute;
	background-image: url("../pic/starsky.jpg");
	/*background-color: black;*/
	margin-top:565px;
	height: 564.5px;
	/*height: 100%;*/
	width: 100%;
}

.part1 iframe{
	margin-top: 90px;
	margin-left: 250px;
}

.help1 img{
	margin: -250px 0 0 50px;
	width: 110px;
	transition: all 0.5s;
}

.help1 img:hover{
	transform:scale(1.2,1.2);
}

.part2{
	display: block;
	position: absolute;
	/*background-color: black;*/
	background-image: url("../pic/starsky3.jpg");
	margin-top: 1129px;
	height: 565px;
	/*height: 100%;*/
	/*width: 100%;*/
}

.help2 img{
	position: absolute;
	margin: 250px 0 0 50px;
	width: 110px;
	z-index: 999;
	transition: all 0.5s; 
}

.help2 img:hover{
	transform:scale(1.2,1.2);
}

.no1{
	float: left;
	margin: 140px 0 0 280px;
	width: 150px;
	height: 150px;
}

.no1 img{
	width: 80%;
	transition: all 0.5s;
}

.no1 img:hover{
	transform:scale(1.5,1.5);
}

.no2{
	float: left;
	margin: 140px 0 0 70px;
	width: 150px;
	height: 150px;
}

.no2 img{
	width: 80%;
	transition: all 0.5s;
}

.no2 img:hover{
	transform:scale(1.5,1.5);
}

.no3{
	float: left;
	margin: 140px 0 0 70px;
	width: 150px;
	height: 150px;
}

.no3 img{
	width: 80%;
	transition: all 0.5s;
}

.no3 img:hover{
	transform:scale(1.5,1.5);
}

.no4{
	float: left;
	margin: 140px 0 0 70px;
	width: 150px;
	height: 150px;
}

.no4 img{
	width: 85%;
	transition: all 0.5s;
}

.no4 img:hover{
	transform:scale(1.5,1.5);
}

.no5{
	float: left;
	margin: 50px 0 0 285px;
	width: 150px;
	height: 150px;
}

.no5 img{
	width: 80%;
	transition: all 0.5s;
}

.no5 img:hover{
	transform:scale(1.5,1.5);
}

.no6{
	float: left;
	margin: 50px 0 0 50px;
	width: 150px;
	height: 150px;
}

.no6 img{
	width: 125%;
	transition: all 0.5s;
}

.no6 img:hover{
	transform:scale(1.5,1.5);
}

.no7{
	float: left;
	margin: 50px 0 0 90px;
	width: 150px;
	height: 150px;
}

.no7 img{
	width: 80%;
	transition: all 0.5s;
}

.no7 img:hover{
	transform:scale(1.5,1.5);
}

.no8{
	float: left;
	margin: 50px 0 0 70px;
	width: 150px;
	height: 150px;
}

.no8 img{
	width: 80%;
	transition: all 0.5s;
}

.no8 img:hover{
	transform:scale(1.5,1.5);
}

.part3{
	display: block;
	position: absolute;
	background-image: url("../pic/starsky2.jpg");
	/*background-color: black;*/
	/*height: 564.5px;*/
	height: 100%;
	width: 100%;
	margin-top: 1114px;
}

.season1{
	width: 500px;
	height: 23px;
	margin: 35px 0 5px 100px;
}

.season1 p{
	font-family: 微軟正黑體;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}

.spring{
	float: left;
	margin: 0px 0px 0px 100px;
	border-radius: 15px;
	opacity: 0.9;
}

/*.spring p{
	font-family: 微軟正黑體;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	margin-top: -25px;
}*/

.season2{
	width: 500px;
	height: 23px;
	margin: -30px 0 5px 650px;
}

.season2 p{
	font-family: 微軟正黑體;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}

.summer{
	margin: 0px 0px 0px 650px;
	border-radius: 15px;
	opacity: 0.9;
}

/*.summer p{
	font-family: 微軟正黑體;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}*/

.season3{
	width: 500px;
	height: 23px;
	margin: 20px 0 5px 100px;
}

.season3 p{
	font-family: 微軟正黑體;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}

.autumn{
	float: left;
	margin: 0px 0px 0px 100px;
	border-radius: 15px;
	opacity: 0.9;
}

/*.autumn p{
	font-family: 微軟正黑體;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	margin-top: -25px;
}*/

.season4{
	width: 500px;
	height: 23px;
	margin: -30px 0 5px 650px;
}

.season4 p{
	font-family: 微軟正黑體;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}

.winter{
	margin: 0px 0px 0px 650px;
	border-radius: 15px;
	opacity: 0.9;
}

/*.winter p{
	font-family: 微軟正黑體;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	margin-top: -25px;
}*/

.help3 img{
	position: absolute;
	margin: 420px 0 0 20px;
	width: 110px;
	z-index: 999;
	transition: all 0.5s;
}

.help3 img:hover{
	transform:scale(1.2,1.2);
}

.aries img{
	float: left;
	width: 150px;
	margin: 0px 0 0 10px;
}

.aries img:hover{
	opacity: 0.5;
}

.taurus img{
	float: left;
	width: 150px;
	margin: 0px 0 0 10px;
}

.taurus img:hover{
	opacity: 0.5;
}

.gemini img{
	float: left;
	width: 150px;
	margin: 0px 0 0 10px;
}

.gemini img:hover{
	opacity: 0.5;
}

.cancer img{
	float: left;
	width: 150px;
	margin: 0px 0 0 10px;
}

.cancer img:hover{
	opacity: 0.5;
}

.leo img{
	float: left;
	width: 150px;
	margin: 0px 0 0 10px;
}

.leo img:hover{
	opacity: 0.5;
}

.virgo img{
	float: left;
	width: 150px;
	margin: 0px 0 0 10px;
}

.virgo img:hover{
	opacity: 0.5;
}

.libra img{
	float: left;
	width: 150px;
	margin: 0px 0 0 10px;
}

.libra img:hover{
	opacity: 0.5;
}

.scorpio img{
	float: left;
	width: 150px;
	margin: 0px 0 0 10px;
}

.scorpio img:hover{
	opacity: 0.5;
}

.sagittarius img{
	float: left;
	width: 150px;
	margin: 0px 0 0 10px;
}

.sagittarius img:hover{
	opacity: 0.5;
}

.capricorn img{
	float: left;
	width: 150px;
	margin: 0px 0 0 10px;
}

.capricorn img:hover{
	opacity: 0.5;
}

.aquarius img{
	float: left;
	width: 150px;
	margin: 0px 0 0 10px;
}

.aquarius img:hover{
	opacity: 0.5;
}

.pisces img{
	float: left;
	width: 150px;
	margin: 0px 0 0 10px;
}

.pisces img:hover{
	opacity: 0.5;
}

/*.topgalaxy{
	display: block;
	position: absolute;
}*/

.mercury{
	width: 300px;
	/*height: 300px;*/
	/*position: relative;
	margin-top: 80px;
	margin-left: 350px;*/
	padding: 10px;
	/*background-color: rgba(0,0,0,0.85);*/
	background-color: #DCDCDC;
	border-radius: 10px;
	opacity: 0.5;
	z-index: 200;
}

.venus{
	width: 300px;
	/*height: 300px;*/
	position: relative;
	/*margin-top: 80px;*/
	margin-left: 80px;
	padding: 10px;
	/*background-color: rgba(0,0,0,0.85);*/
	background-color: #DCDCDC;
	border-radius: 10px;
	opacity: 0.5;
}


