body
{
	font: 83% Verdana, Arial, sans-serif;
	margin: 0em;
}

/* p {	padding: 0em 0.5em }
*/
img { border: none; }
img.AnswerPicture { vertical-align: text-top; margin-bottom: 1em; }
img.RightImage { padding-left: 15px; float: right}
img.LeftImage { padding-right: 15px; float: left}
img.Definition { margin-right: 3px; }

table.TestQuestion
{
	margin: 1em;
}

tr.WrittenQuestion td.QuestionText p { margin: 0em 0em 1em 0em; }

/*
h3 {padding: 0.5em; background:#6B97CC; color:#ffffff; text-align:center; font-family:Trebuchet MS}
.heading {margin: 3em 0.5em; padding: 0.2em; background:#6B97CC; color:#ffffff; }
.heading {padding: 0.5em; background:#6B97CC; color:#ffffff; font: bold 120% Times, Serif}
*/
h1
{
	/*background-image: url(images/H1Background.gif);
	background-color: #B0D0F8;
	background-repeat: repeat-y;*/
	background:#48BDD7 url('images/bg_h1.png') repeat-x;
	color: #ffffff;
	padding: 0.3em;
	font-size: 100%;
	margin-top: 0pt;
	/*margin: 0em 0em 0.5em;*/
}

h1 a
{
	text-decoration: none;
}
/* h4 {margin: 0.5em; color: #58002b; font-size: 90%} */
h4 {margin: 0.5em; font: 110% Trebuchet MS; color: #381c2b }
p.Prose { text-indent: 2em;}

td.GroupHeader { border: 1px solid #09f; padding: 1em; }

td.QuestionNumber { width: 2em; vertical-align: top; text-align: right; }
td.QuestionText { width: 100%; }
td.AnswerRadio { width: 3.5em; vertical-align: top; }
td.Remark { padding-bottom: 1em; }
tr.QuestionSpacer { height: 1em; }
td.CorrectAnswer {text-align: center; background-color: #CCDDEE; color:#2F4F4F; border: 1px solid #CCDDAA;  padding: 0.5em 1em; }

table.Hints { margin-top: 1em; border-collapse: collapse; border: 2px solid #9cc; float: right; }
table.Hints td.English { padding-right: 0.4em; padding-left: 0.3em}
table.Hints td.Chinese { padding-top: 0.3em; padding-right: 0.3em}
table.HintsHorizontal td.English { padding-left: 1em; }

span.SeqPlaceholder { border-bottom: 1px solid; padding: 0em 1em; }
u.double { text-decoration: none; border-bottom: 3px double; }

div.Conversation {background-color:#f3f6f9; border: 5px groove #497fbf; padding: 0.5em 1em;}
p.PersonA, p.PersonB, p.PersonC, p.PersonD, p.PersonE
{
	margin: 0em 0em 0.5em 0em;
	text-indent: -2.4em; padding-left: 2.6em;
}
p.PersonA { color: #333333; }
p.PersonB { color: #666666; }
p.PersonC { color: #005073; }
p.PersonD { color: #004b18; }
p.PersonE { color: #440039; }
/*
div.Conversation p.PersonA { color: #252525; }
div.Conversation p.PersonB { color: #5c3900; }
div.Conversation p.PersonC { color: #005073; }
div.Conversation p.PersonD { color: #004b18; }
div.Conversation p.PersonE { color: #440039; }
*/

div.Prose {background-color:#fffbc6; border: 0px solid #5e9619; padding: 0.5em 1em;}
/* div.Prose {background-color:#fcfcfc; border: 0px solid #5e9619; padding: 0.5em 1em;}
div.Prose { padding: 0.5em 1em; } */
div.Prose p { text-indent: 2em; margin: 0.5em 0em; color: #1d3403}

/*div.Letter {background-color:#FFFDED; color:#023a67; border: 1px solid #CCCCAA; padding: 0.5em 1em; font-style: italic;}*/
div.Letter {background-color:#ebf4ea; color:#023a67; border: 1px solid #CCCCAA; padding: 0.5em 1em; font-style: italic;}
div.Letter p { margin: 0.5em 0em;}
	div.Letter p.Date, div.Letter p.Closing, div.Letter p.Signature { margin-left: 65%}
	div.Letter p.Greeting {margin-left: 0%; }
	div.Letter p.Body { text-indent: 2em; }
	div.Letter p.Closing { margin-bottom: 0em; }
	div.Letter p.Signature { margin-top: 0em;}
/*	
p.Source
{
	margin: 0.5em 0em; color:Maroon; background-color: #F5F5F5; font-size:smaller; text-indent: 1em;
}
*/

td.Remark {background-color: #E4EEDC; color:Maroon; border: 1px solid #CCDDAA; padding: 0.5em 1em; }
div.Remark div { margin: 0.5em 0em; padding: 0.1em 0em 0.5em 40px; }
div.Remark div.Source {margin: 0.5em 0em; color:#708090; background: url(images/source.gif) no-repeat; }
div.Remark div.Translation {margin: 0.5em 0em; color:#657B5E; background: url(images/Translation.gif) no-repeat; }	
div.Remark div.Comment {margin: 0.5em 0em; color:Teal; background: url(images/comment.gif) no-repeat; }	
div.Remark div.Comment div.Question {margin-top: 0em; padding: 0em;color:#556B2F;}	
div.Remark div.Comment div.Answer {margin-top: 0em; padding: 0em; color:#2F4F4F;}	
div.Remark div.Attention {margin: 0.5em 0em; color:Maroon; background: url(images/attention.gif) no-repeat; }	
div.Remark div.X1000 {margin: 0.5em 0em; color:#B8860B; background: url(images/x1000.gif) no-repeat; }
div.Remark div.Reference {margin: 0.5em 0em; color:#004080; background: url(images/reference.gif) no-repeat; }
div.Remark div.Warning {margin: 0.5em 0em; color:#904080; background: url(images/reference.gif) no-repeat; }
div.Remark p { margin: 0em 0em 0.5em; }
div.X1000 ul {margin: 0em; padding: 0em;}
div.X1000 li {color:#008080; margin-left: 1em; padding: 0em; }

div.dolch {background-color: #E4EEDC; border: 1px solid #CCDDAA; padding: 0.5em 1em; margin-top: 1em; clear:both}
div.dolch p span.Chinese { color:#666699; }
.Chinese { font-size: 85%; }

table.WordList { border-collapse: collapse; }
table.WordList th { text-align: left }
table.WordList td { vertical-align: top; }
table.WordList img { margin-right: 3px; }

.bg_highlight .w1 { background: #cfc; }
.bg_highlight .w2 { background: #ff9; }
.bg_highlight .w3 { background: #fcc; }
.bg_highlight .w4 { background: #9df; }
.bg_highlight .w5 { background: #ccdcb4; }
.bg_highlight .w6 { background: #d1b8ed; }


.fg_highlight .w1 { color: #090; }
.fg_highlight .w2 { color: #8F801C; }
.fg_highlight .w3 { color: #f00; }
.fg_highlight .w4 { color: #7E9162; }
.fg_highlight .w5 { color: #045570; }
.fg_highlight .w6 { color: #7E59A6; }

tr.alt { background: #EEE; }

span.Highlight { background: #9C9; }


table.NoGap { border-collapse: collapse; }
/* table.NoGap td { cell-spacing: 0px; } */

p.BackToTop { text-align: center; }

/* div.AboutUs { background: #edf2ff; color: maroon; padding: 1em} */

@media print
{
	.ScreenOnly { display: none; }
}

td.Freq { text-align: right; padding-right: 0.5em; }

ul.NavMenu { font-family: MingLiU; }
ul.NavMenu li { list-style-type: none; }
ul.NavMenu a { color: #000; text-decoration: none; }
ul.NavMenu a:hover { background-color: #630460; color: #FFF; }
/* Widths and indentation */
ul.NavMenu, ul.NavMenu a, ul.NavMenu span { display: block; width: 10em; }
ul.NavMenu, ul.NavMenu ul { margin: 0em; padding: 0em; }
ul.NavMenu ul a, ul.NavMenu ul span { padding-left: 1em; width: 9.001em; }
ul.NavMenu ul ul a, ul.NavMenu ul ul span { padding-left: 2em; width: 8.001em; }
/* Borders and colors */
ul.NavMenu { border: 1px solid Gainsboro; border-bottom-style: none; }
ul.NavMenu a, ul.NavMenu span { border-bottom: 1px solid Gainsboro; }
ul.MainMenu { background-color: #BED2EB; }
ul.MainMenu ul { background-color: #DFE9F6; }
ul.MainMenu ul ul { background-color: #EAF4FD; }
ul.MemberMenu { background-color: #B3EAA6; }
ul.MemberMenu ul { background-color: #DDF5E2; }
ul.MemberMenu ul ul { background-color: #EFFBF4; }

div.proverb {padding-left: 2em;}
div.proverb p.idiom {text-indent: -1em; clear:both; margin-bottom: 5px; font: 140% Trebuchet MS; color: #3333c0; }
div.proverb p.ch_idiom {text-indent: -1.4em; margin-top: 0; margin-bottom: 10px; font-family: MingLiU; color: #BA565D }

/*div.proverb p.En, p.Ch 
{
	margin: 0em 0em 0.5em 0em;
	text-indent: -2.4em; 
	padding-left: 2.6em;
}*/

div.Idiom_conversation {overflow: auto;}
div.proverb p.En {margin-bottom: 5px; margin-left: 1.4em; color: #456789;}
div.proverb p.Ch {margin-left: 1.4em; margin-top: 0;  color: #362F2D;}

img.idiom {padding-top: 0.2em; clear:both}
img.Left_idiom {padding-top: 0.2em; padding-right: 3em; padding-bottom: 23px;}
/* div.proverb div {clear:both} */
div.AsAs {padding-left: 2em;}
div.AsAs p.idiom {text-indent: -1em; margin-bottom: 5px; font: 160% Trebuchet MS; color: #3A8433; }
div.AsAs p.ch_idiom {text-indent: -1.55em; margin-top: 0; margin-bottom: 10px; font-family: MingLiU; color: #068F81 }
img.R_Img { padding-left: 0.2em;  clear:both}
img.L_Img { padding-right: 2em;  clear:both}
div.AsAs p.Ch {padding-bottom: 2em; margin-left: 0.6em; margin-top: 0;  color: #362F2D;}



div.Gg { width: 198px; margin: 0.5em 0em; border: 1px solid #999; overflow-x: hidden; }
div.Gg div.GgTitle { text-align:center; color: White; padding: 2px; font-size: 100%;  }
div.Gg div.GgMessage { background-color: #fff; color: #000; font-size: 89%; padding: 2px; white-space: pre-wrap; }
div.Gg div.GgFooter { background-color: #fff; color: #024; font-size: 89%; padding: 2px; }

/* Q & A */
p.Q {margin-top: 1.5em; margin-bottom: 0.2em; font-size: 110%; color:#005826;}
p.A {margin-top: 0.3em; margin-bottom: 0; color:#383430; }

p.story { margin: 1em; font-size: 120%; color: #3D3D3D; }
p.storyC { margin: 2em; font-size: 90%; color: #3D5D7D; }
p.excerpt { margin: 1em; font-size: 90%; color: #65927D; }

/* News */
/* p.News { margin-bottom: 0.1em; padding: 0em;  background: #FDF694;  font-size:83%;} */
div.News { background: #F0F6F8; font-size:83%; color: black; border: 1px solid Gainsboro; margin-top: 0.2em; margin-bottom: 0.5em; width: 198px; }
div.News ul { margin: 0em; padding: 0em; }
div.News a { text-decoration: none; color: Blue; }
div.News li { margin: 0.2em 0em 0.2em 1.4em; }
/*
div.News a:link, a:visited {color:black; }
div.News a:focus, a:hover, a:active {color:black; text-decoration:none;}
*/
/* div {clear:both} */

.clear 
{
	clear:both;
	display:block;
	font-size:0pt;
	height:0pt;
	line-height:0pt;
	margin:0pt;
}


/* Main layout - Header
------------------------------------------------------------------*/
.m_header {
	background-color: #205799;
	position: relative;
	width: 100%;
	text-align: right;
}

.logo {
	float: left;
	width: 240px;
	height: 82px;
}

.nav_list 
{
	font-size: 83%;
	float: right;
	color: White;
	padding: 42px 20px 0pt 0pt;
}

.nav_list a:link, 
.nav_list a:visited {
	color: White; 
	font: bold;
	text-decoration: none
}

.nav_list a:hover {
	text-decoration: underline
}


li.inline {
  display: inline;
  padding-left: 3px;
  padding-right: 7px;
  border-right: 1px solid White;
}

li.last {
  display: inline;
  padding-left: 3px;
  padding-right: 3px;
  border-right: 0px;
}      
  
/* Main layout - Left Side bar
------------------------------------------------------------------*/
.m_leftbar {
	float: left;
	width: 200px;
}

/* Main layout - Right Side bar
------------------------------------------------------------------*/
.m_rightbar {
	float: right;
	width: 206px;
}

/* Main layout - Main Content
------------------------------------------------------------------*/
.m_main {
	margin: 0.2em 208px 0.2em 212px;
}

/* Main layout - Footer
------------------------------------------------------------------*/
.m_footer {
	clear: both;
	padding-top: 2em;
	text-align: center;
	color: #696969; 
	font-family: Verdana
}

/* Nav_Image
------------------------------------------------------------------*/

.nav_image
{
	/*margin-top: 3px;*/
	background: #d4d3cb;
	border: solid 1px #e5e5e5;
	text-align:center;
}

.nav_image ul
{
	margin: 0pt;
	padding: 0pt;
	list-style-type:none;
}

.nav_image_title
{
	text-align:center;
	color: #333;
	font-size:larger;
	background: #c5f9fa;
	margin: 1px;
	padding: 3px 0pt;
}

.nav_image_list_item
{
	margin: 1px;
}

/* MODULE HEADERS
----------------------------------------------------------
.module_header 
{
	background: #630460 repeat-x;
	padding: 0.3em;
	font-size: 100%;
	font-weight:normal;
	color: #fff;
}

.module_header a
{
	text-decoration: none;
}
*/
.icon_help 
{
	background:transparent url('Images/help.gif') no-repeat scroll left center;
	font-weight:normal;
	font-size:smaller;
	margin:0pt 5px;
	padding:1px 0pt 1px 18px;
	color: #fff;
	float:right;
}

.icon_back 
{
	background:transparent url('Images/GoToPrevious.gif') no-repeat scroll left center;
	font-weight:normal;
	font-size:smaller;
	margin:0pt 5px;
	padding:1px 0pt 1px 18px;
	color: #fff;
	float:right;
}
.doyouknow
{
	margin-top: 2px;
	padding: 0.5em 0 0.5em 1em;
	background: #f0fad7;
}

span.upto10
{
	font-style:italic;
	font-weight:bold;
	color: #f33;
	padding: 8px 0 0 4em;

}

.center_text
{
	text-align:center;
}

div.go_back
{
	text-align:center;
	padding-top: 2em;
}

.article_section
{
	margin-top:2px;
	padding:0.5em;
	background:#e6f3f8;
}

p.ArticleTitle
{
	font-size: 130%; 
	font-weight: bold; 
	color: #1a4f61; 
}
p.ArticleSubtitle 
{
	padding-left: 2em;
	font-size: 90%;
	font-weight: lighter; 
	color: #4E6167; 
}
div.ArticleRemark
{
	font-size: 100%; 
	font-weight: normal; 
	/*padding: 1em;
	padding-left: 1em;*/
	padding: 0px 2em;
	color: #005E20; 
}

p.ArticleSource 
{
	color: #696; 
	text-decoration: none; 
	padding-left: 2em;
	font-size: 95%; 
	font-weight: lighter; 
}

.paragraph_section
{
	margin-top:2px;
	padding: 0.5em;
	line-height: 1.3;
	background:#FAF9E1;
}

.paragraph_section p.ArticleParagraphText
{
	font-size: 100%; 
	font-weight: normal; 
	color:#34432E; 
}

div.ArticleParagraphRemark
{
	font-size: 100%; 
	font-weight: normal; 
	/*padding: 1em 0;*/
	padding: 0px 4em;
	color: #485E98; 
}

/* SQL data
----------------------------------------------------------*/
p.PersonA, p.PersonB, p.PersonC
{
	margin: 0em 0em 0.5em 0em;
	text-indent: -2.4em; padding-left: 2.6em;
}
p.PersonB{
	color: #595959;
}

p.PersonA{
	color: #303030;
}


.paragraph_title {
	color: #484F4A;
	font-size: larger;
	font-weight:bold;
	padding: 0.5em 0;
}

.paragraph_subtitle {
	color: #484F4A;
	padding: 0.5em 0 0 2em;
}

.paragraph_conversation
{
	background-color: #FCFCF3;
	border: solid 1px Black;
	margin: 1em;
	padding: 1em;
}

div.narrow
{
	/*background-color: #f0f6ec;
	border: solid 1px Black;*/
	margin: 0 2% 0;
	padding: 0.5em;
}

.nowrap { white-space: nowrap; }

table.top_aligned_cells td { vertical-align: top; }

.descr
{
	color: #232323;
	font-family: MingLiU, Verdana;
	line-height: 1.4;
	margin: 0.2em 1em;
}

.header
{
	/*padding-left: 0.5em; */
	color: #333;
	font-family: DFKai-SB, PMingLiU, MingLiU; 
	font-size:100%;
	line-height: 1.3;
	/*padding: 0.5em 1em;*/
}

.r1
{
	color: #92278F;
}

.r2
{
	color: #566;

}

.spell_word
{
	Width: 70%;
	/*margin: 2em 15%;*/
	margin-top:2em;
	margin-left: 10%;
	border-collapse:collapse;
	text-align: center;
	border: solid 1px #999;	
}

div.SpellWord input.Box { width: 1em; text-align: center; font: 150% Arial, sans-serif; }
div.SpellWord .RightTop { float: right; margin:0.5em 1em; }

.sp_1
{
	text-align: center;
	background-color: #bcdcfc;
}

.nodeco
{
	text-decoration: none;
	color:#4273C9;
	font-weight:bold;
}


.instructions
{
	/*margin:  0 1em 1em 2em;*/
}

.instructions p
{
	float:left;
	color:#265B06;
	font-weight:bold;
	line-height: 1.2em;
}

.instructions ol
{
	float:left;
	margin-left: 0em;
	padding-left: 0em;
	line-height: 1.2em;
}

.instructions ul
{
	float:left;
	margin-left: 0em;
	padding-left: 0em;
	line-height: 1.2em;
}

.instructions li
{
	margin-left: 2em; /* for IE */
	padding-left: 0em;
	font-size: 83%;
    color: #366;
}

.instructions br
{
	clear:left;
}

/* new 7/11/11 */
table.regu 
{
	border: 1px solid #666;
	border-collapse: collapse;
}
table.regu th
{
	
	border: 1px solid #666;
}
table.regu td
{
	border-collapse: collapse;
	padding: 0.5em;
	border: 1px solid #666;
}
/***************** GRAMMAR ********************/
h2 {
	/*font-size: 125%; DFKai-SB, PMingLiU, */
	margin-left: 10px;
	font-weight: bold;
	color: #005826;
	font: 130% DFKai-SB, Arial, sans-serif;
	}	
	
div.Cn 
{
	color: #3D3D3D;	
	font-family: DFKai-SB, PMingLiU, Arial, sans-serif;
	margin-left: 1em;
}

div.En
{
	color: #363;
	font-size: 1.2em;
	line-height: 1.414em;
	font-family: Georgia, Verdana, Arial, sans-serif;
	margin-left: 1em;
}	
div.MultipleChoice 
{
	margin: 0em 0 2em 0; 
	padding: 0em;
	background-image: url('Images/mc.gif');
	background-repeat:no-repeat;
	background-position: 0 0px;
	padding-top: 25px;
}
	
ul.errorQ {
	margin: 0em; 
	list-style-type: none;
	/*background-image:url('Images/think2.gif');*/
	background-image:url('Images/think3.png');
	background-repeat:no-repeat;
	background-position: 0 0px;
	padding: 55px 0 5px 65px;
	font-family:  "times new roman", times, serif;
	color: #366;
	clear: both;
	}
ul.errorQ li {
	list-style-type: none;
	padding: 2px 0.5em;
	margin: 0px;
	list-style-image: url('Images/incorrect3.gif');
}
ul.errorQ li.Cn 
{
	list-style-image: none;
	color: #42653F;
	font-family: DFKai-SB, PMingLiU, Arial, sans-serif;
}
ul.errorQ li.correct {
	list-style-image: url('Images/check.gif');
}

li span.right {
	font-weight:bold;
	}

ul.errorQ li.correct {
	display:none;
	}
	
div.ErrQ { 
	display: none; 
	/*margin: 0;
	padding: 0;*/
	}
p.Answer 
{
	margin: 0.5em;
	padding-bottom: 1em;
}
p.En {
	font-family:  "times new roman", times, serif;
	color: #c00;
	margin-bottom: 0.1em;
	margin-left: 65px;
	}

p.Cn {
	color: #3D3D3D;	
	font-family: DFKai-SB, PMingLiU, Arial, sans-serif;
	font-size: 100%;
	margin-top: 0em;
	margin-bottom: 0.2em;
	margin-left: 65px;
	}

p.Remark {
	color: #366; /*#065847;*/
	font-family: DFKai-SB,PMingLiU, Arial, sans-serif;
	font-size: 100%;
	margin-top: 0;
	margin-left: 65px;
	}
	
p.GCn {		/* Chinese paragraph for Grammar content */
	color: #3D3D3D;	
	font-family: DFKai-SB, PMingLiU, Arial, sans-serif;
	margin-left: 10px;
	font-size: 117%;
	}
	

	
p.TitleQA {
	color: #369;
	font-size: 117%;
	font-family: DFKai-SB, PMingLiU, Arial, sans-serif;
	background-image: url('http://www.taiwantestcentral.com/Images/exercise.gif');
	background-repeat: no-repeat;
	background-position: 0px 5px;
	/*padding-left: 42px;*/
	margin-left: 1em;
	padding: 3px 0 5px 24px;
}	
div.MultipleChoice div.Hidden { display: none; }
div.MultipleChoice.Answered span.wrong { background-color: #FCC; }
div.MultipleChoice.Answered span.correct { background-color: #CFC; }

div.MatchingProblem 
{
	margin: 0 1em 1em 1em; 
	border: 1px solid #CCDDAA; 
	line-height:130%;
	font-size: 91%;
	/*background-image: url('Images/dragdrop.png');
	background-repeat:no-repeat;
	background-position: 0 0px;
	padding: 54px 0 10px 54px;
	overflow: auto; 
	padding-top: 1em;
	font-size: 87%;*/
}

div.MatchingProblem span.Answer { cursor: move; white-space: nowrap; }
div.MatchingProblem div.Answers span.Answer, span.Answer.ui-draggable-dragging { /*border: 1px solid;*/ border-color: #EEE #999 #999 #EEE; /*background-color: #EEE;*/ color: #666; padding: 0 4px;}
div.MatchingProblem div.Answers { margin: 1em; line-height: 1.8em; padding: 0.5em 2em;/*float: right; width: 9em; margin-top:1em;*/ }
div.MatchingProblem div.Answers span.Answer { margin: 0 0.2em 0.2em 0; }
div.MatchingProblem span.Blank { display: inline-block; min-width: 5em; border-bottom: 1px solid; color: #808080; }
div.MatchingProblem span.Blank.DragOver { background: #CDE; }
div.MatchingProblem span.Blank span.Correct { padding-right: 20px; background: url(../images/check.gif) no-repeat right; }
div.MatchingProblem span.Blank span.Incorrect { color: #F00; }
div.MatchingProblem div.Hidden { display: none; }
div.MatchingProblem button { margin-left: 12pt; }

div.MatchingProblem p.Cn { margin: 1em 12pt 0; color: #669; font-size:100%;}
div.MatchingProblem p.En { margin: 0; }
div.MatchingProblem p.Remark { margin-left: 12pt; }

div.MatchingProblem div.En
{
	color: #363;
	line-height: 1.214em;
	font-family: Georgia, Verdana, Arial, sans-serif;
	margin-left: 12pt;
}	

p.Solution  
{
	margin-left: 1em; 
	padding: 2em;
	background-image: url('Images/CorrectAnswer.png');
	background-repeat:no-repeat;
	background-position: 0 0px;
	padding-top: 40px;
}

p.heading
{
	 color: #336; 	
	 font-family: DFKai-SB, PMingLiU, Arial, sans-serif;
	 font-size:larger;
}

p.ExerciseRemark
{
	 color: #369; 	
	 font-family: DFKai-SB, PMingLiU, Arial, sans-serif;
     display: none;
}

div.Exercises
{
	/*background-image:  url('http://www.taiwantestcentral.com/Images/exercise.gif');*/
	background-image: url('Images/Grammar/Exercise.png');
	background-repeat:no-repeat;
	color: #007236;
	/*padding: 30px 0px 0px 65px;*/
	padding: 30px 12px 10px;
}
	

	
div.Exercises li {
	/*
	list-style-image: url('http://www.taiwantestcentral.com/Images/exercise.gif');
	background-position: 0px 4px;	font: 83% Verdana, Arial, sans-serif;
	*/
	padding: 0.2em 0.5em;
	margin: 0;
	}

div.Exercises table
{
	border-spacing: 4px;
}

div.Exercises table td
{
	background-color: #EEE;
	padding: 0.2em 0.1em;
	text-align: center;
}

div.Exercises span.Blank { display: inline-block; min-width: 6em; border-bottom: 1px solid; color: #808080; }
div.Exercises span.Answer { display: none; }

/* patternEx - pattern examples */
table.patternEx {
	margin: 1em 4em;
    border: 4px solid #cd5c5c; /*#177;*/
    border-collapse: collapse;
	}
table.patternEx th {
    border-bottom: 1px solid #cd5c5c;/*color: #366; */
    /*border: 1px dotted #cd5c5c; #f0f8ff;*/
        border-left: 1px dotted #cd5c5c;
    border-right: 1px dotted #cd5c5c;

    color: #166; 
    background-color:  #FFE4B5; /*#088; /*#980022;*/
    padding: 5px 10px; 
    }

table.patternEx td {
	/*padding: 0.2em 0.5em;*/
	color: black;
    padding: 5px 10px;
	}	

table.patternEx td.shade	{
	/*background-color: #EBF5F9; 
	color: #233121;
	padding: 0 0.5em;
	border-left: 1px dotted black;
	border-right: 1px dotted black;
	font-style:italic;*/
	background-color: #fff8dc; /*#d4edfE;*/
    border-left: 1px dotted #cd5c5c;
    border-right: 1px dotted #cd5c5c;
	}	
	
table.patternEx caption 
{
    caption-side:top;
    background: #fff; 
    color:Teal;
    padding: 0.2em 0;
    font-size:smaller;
    margin-bottom: 0.2em;
	font-family: Arial, sans-serif;
}	


table.tbl {
	align: "right";
	border: 1px solid #333;
	color: #366;
	margin: 1em auto;
	border-collapse: collapse;
	}

table.tbl td {
	padding: 5px 10px 5px 10px;
	}
	
table.block {
	margin-left: auto;
	margin-right: auto;
	border: 3px double #336;
	color: #366;
	margin-top: 1em;
	}

table.block td {
	padding: 0.2em 0.5em;
	}

p.rules {
	color: #0054A6;	/*#004A80;*/
	margin-left: 0.5em; 
	background-image: url('Images/rule.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding: 6px 0 12px 68px;
	font-family: DFKai-SB, PMingLiU, sans-serif;
	font-size: 110%;
	}	
	
p.arrow {
	color: #363;
	margin-left: 0em;
	background-image:url('Images/arrow_r.gif');	
	background-repeat:no-repeat;
	background-position: 0 4px;
	font-family: DFKai-SB, PMingLiU, Arial, sans-serif;
	font-size: 117%;
	margin-left: 1em;
	padding-left: 1em;
	}
	
p.compare {
	/*color: #596;*/
	background-image:url('http://www.taiwantestcentral.com/Images/compare.gif');
	background-repeat:no-repeat;
	/*background-position-y: 4px;*/
	background-position: 24px 1px;
	padding-left: 96px;
	font-family: DFKai-SB, PMingLiU, Arial, sans-serif;
	/*font-weight:bold;*/
	}			
	/* pattern */
div.pattern {
	background-color: #0076A3; 
	margin: 0 2em;
	width:90%;
	}

div.pattern table 
{
	margin-left: auto;
	margin-right: auto;
}
	
div.pattern td {
	padding: 0.2em 0.5em;
	text-align: center;
	font-weight: bold;
	color: white;
	}

span.BgBlue {
	background-color:#E6FAFA;	
	}
span.BgPink {
	background-color:#FBD5F9;	
	}
span.BgGold {
	background-color:#FFFCAC;	
	}

/* conversations */

ul.Conversation {
	list-style-type: none;
	color: #c00;
	font-family:  "times new roman", times, serif;
	line-height: 110%;
	margin-left: 70px;

	}
	
li.Linda {
	text-indent: -55px;
	padding-left: 18px;
}	

li.Peter {
	text-indent: -55px;
	padding-left: 18px;
	margin-top: 0.5em;
}	

/* Formated tables 3/20/11 */

caption { 
	background: #4BACC6; 
	caption-side: top;
    color: #FFF;
    padding: 0.2em 0;
    font-size:larger;
    margin-bottom: 0.2em;
	font-family: PMingLiU, Arial, sans-serif;
	}
table.header { border-collapse: collapse; margin:0 auto; }
table.header th { border: 1px solid #678; background-color: #CEF2E0; color: #C1151C; padding: 6px 16px }
table.header td { border: 1px solid #678; background-color: #F1FAF9; vertical-align: middle; text-align: center; padding: 6px 16px}
td.left {text-align: left !important}

table.list { border: 1px solid #678; /*border-style: none;*/ border-collapse: collapse; margin: 0 4em; }
table.list th { background-color: #DADADA; color: #0072BC}
table.list td { color: #002157; vertical-align: top; padding: 0.35em 1em}

table.h_list { border-style: none; border-collapse: collapse; margin: 0 0em; }
table.h_list th { background-color: #E6E6E6; color: #C1151C }
table.h_list td { color: #408157; vertical-align: top; padding: 0.35em 8px}

table.CnEnList { border-style: none; border-collapse: collapse; margin: 0 4em; }
table.CnEnList td { border: 1px solid #678; color: #002157; vertical-align:middle; padding: 0.35em 8px}

table.dict {margin: 0 3em; }
table.dict caption 
{
	background-color: #FFF;
	color: #4BACC6;
	font-weight: bold;
	border-bottom: 1px solid #4BACC6;
}
table.dict th {
	/*border-style: none; border-collapse: collapse; */
	color: #103471;
	font-size:100%;
	text-align:left;
	padding: 0.15em 0.3em;
	border-bottom: 1px solid #999;
}

table.dict td {vertical-align:top; color: #005826; padding-top: 0.3em; padding-right: 0.7em;}
/*.wrd {font-family: DFKai-SB, PMingLiU, Arial; color: #9E0B0E;  white-space: nowrap; text-align:right; padding: 0.15em }
.def {color: #005826; padding: 0.15em 0.5em}*/
table.dict td.lc  {vertical-align:top; font-family: DFKai-SB, PMingLiU, Arial; color: #9E0B0E;  white-space: nowrap; padding-right: 1em}

/* Lite Blue Table */
div.liteBlue {
	margin-left: 3em; 
	/* font-size:smaller; */
	}
	
table.liteBlue {
	border: 1px solid #C4FBFD; border-collapse: collapse; 
}
table.liteBlue caption 
{
	background-color: #FFF;
	color: #4BACC6;
	font-weight: bold;
	/* border-bottom: 1px solid #4BACC6; */

}
table.liteBlue th {
	background-color: #4BACC6; color: #FFF;  border: 1px solid #C4FBFD; padding: 0.35em
}
table.liteBlue td {
	color: #212121; border: 1px solid #C4FBFD;  padding: 0.35em 1em;
}

table.liteBlue tr{
	background-color: #B7DEE8;
}
table.liteBlue tr.alt{
	background-color: #DAEEF3;
}


/* Lite Red Table */
div.liteRed {
	margin-left: 3em; 
	/* font-size:smaller; */
	}
	
table.liteRed {
	border: 1px solid #F2DCDB; border-collapse: collapse; 
}
table.liteRed caption 
{
	background-color: #FFF;
	color: #C0504D;
	font-weight: bold;
}
table.liteRed th {
	background-color: #C0504D; color: #FFF;  border: 1px solid #F2DCDB; padding: 0.35em 1em; 
}
table.liteRed td {
	color: #212121; border: 1px solid #F8EAE6;  padding: 0.35em 1em;
}
table.liteRed tr{
	background-color: #E6B8B7; 
}
table.liteRed tr.alt
{
	background-color: #F2DCDB;
}

table.liteRed td.shade	{
	/*background-color: #EBF5F9; 
	color: #233121;
	padding: 0 0.5em;
	border-left: 1px dotted black;
	border-right: 1px dotted black;
	font-style:italic;*/
	background-color: #D0B0B0; /*#E6B8B7;*/
    border-left: 1px dotted #cd5c5c;
    border-right: 1px dotted #cd5c5c;
	}	
	
table.tense { border-collapse: collapse; margin: 0.5em auto;}
table.tense th { background-color: #e9ddef; border: 1px solid #734956; padding: 0.25em 0.5em;}
table.tense td { border: 1px solid #666; padding: 0.25em 0.3em; color:#633; text-align:center;}
table.tense td.rt { border-right-style:none; text-align:right;}
table.tense td.lf { border-left-style:none;text-align:left;}

/* vertical center */
table.vc { border: 1px solid #678; border-collapse: collapse; margin: 0 auto; 
       	font-family: PMingLiU, Arial, sans-serif;
}
table.vc caption  	
{
	background: #FFF; 
	caption-side: top;
    color: #603913; /*4BACC6;*/
    border-bottom: 1px solid #4BACC6;
    padding: 0.2em 0;
    font-size:larger;
    font-weight:bold;
    margin-bottom: 0.2em;
}
table.vc th { border: 1px solid #C4ACC6 !important; background-color: #4BACC6; color: #FFF}
table.vc td { border: 1px solid #C4ACC6 !important; color: #366; vertical-align: middle; padding: 0.35em 0.6em}
table.vc table.tit td { border-style: none; border-collapse: collapse; margin: 0 0em;}

/* table without border */
table.wo { border-collapse: collapse; margin: 2em auto; }
table.wo td {border-style: none; padding: 0.5em 2em; }

/* table LT - left & top header */
table.LT caption { background-color: #FFF;	color: #C00B4D;	font-weight: bold;	border-bottom: 1px solid #C0504D;
}
table.LT {border-collapse: collapse; margin: 0 4em; }
table.LT td.hh { background-color: #998675; color: #FFF; font-weight: bold; border: 1px solid #EEB393; 
	padding: 0.35em 1em; }
table.LT td {border: 1px solid #EEB393;  padding: 0.35em 1em; background-color: #E6E6E6; color: #333;}

/* vertical center align left */
table.vcal { border: 1px solid #678; border-collapse: collapse; margin: 0 4em; }
table.vcal th { background-color: #DADADA; color: #0072BC}
table.vcal td { border: 1px solid #678; color: #FFF; vertical-align: middle; padding: 0.45em 1em}

/* table inside table */
table.outer {border: 1px solid #678; border-collapse: collapse; margin-left: 4em;}
table.outer td { border: 1px solid #678; color: #366; vertical-align: middle; margin: 0 0.8em;}
table.outer table.tit { border-style: none; border-collapse: collapse; margin: 0 0em;}
table.outer table.tit td { border-style: none; color: #366; vertical-align: padding: 0 0.2em; white-space: nowrap;}
ul.Cn li
{
	color: #075936; padding: 0.35em 0;
	font-family: DFKai-SB, PMingLiU, Arial, sans-serif;
}

ul.mQA { margin: 0em; padding: 0em; }
ul.mQA li 
{
	list-style-position: outside;
	/*font-family:  "times new roman", times, serif;*/
	color: #555;
	list-style-image: url(Images/example.png); 
	margin: 0em;
	padding-bottom: 5px;
}

span.InlineEn
{
	font-family: Arial, Verdana, sans-serif;
}


span.En
{
	color: #c00;
	font-family: Arial, Verdana, sans-serif;
}	

span.Cn
{
	color: #366;
	font-size: 93%;
	font-family: DFKai-SB, PMingLiU, sans-serif;
}

p.drag {
	background-image: url('Images/Grammar/drag.png');
	background-repeat:no-repeat;
	background-position-y: 0px;
	color: #9E0039;
	padding: 8px 0px 12px 45px;
	margin: 35px 0 0 10px;
	font-size: 118%;
	font-family: DFKai-SB, PMingLiU, sans-serif;
	clear: both;
}
span.button 
{
	background-color: #eee;
	border: 1px solid #808080; 
	color: #333;
	font-size: 75%;
	margin: 0 2px;
	padding: 1px 3px;
}

#CEECVocabulary-Part1
{
	background-color: #f4f4f4;
	color: #333;
	margin: 2px 1em;
	padding: 3px 1em;

}
p.hh
{
	color: #3D5D4D;	
	font-family: PMingLiU, Arial, sans-serif;
	font-size:larger;
}

#CEECVocabulary-Part2
{
	background-color: #f4f4f4;
	color: #333;
	margin: 2px 1em;
	padding: 3px 1em;

}

#CEECVocabulary-Part3
{
	color: #363;
	margin: 2px 1em;
	padding: 10px 1em;
	font-size: 83%;

}

div.SpellingQ1
{
	/* background-color: #fce0e0; #f4fef8;*/
	color: #633;
	margin: 2px 1em;
	padding: 3px 1em;
}
div.SpellingQ2
{
	margin: 2px 1em;
	padding: 3px;
}

div.CnSection
{
	/* background-color: #e3e9fa; */
	color: #369;
	margin: 2px 1em;
	padding: 3px 1em;
}

div.RemarkSection
{
	/* background-color: #fce7d4; */
	color: #933;
	margin: 2px 1em;
	padding: 3px 1em;

}

div.BlueBlock
{
border-style:solid;
 border-width:3px;
 border-color:#fcc0c0;
	margin: 3px 1em;
	padding: 6px 1em;

}


p.Remark > span.En
{
/*     color: #556B2F; DarkOliveGreen */
    color: #366;    /* same as p.Remark */
    font-family: Arial, Verdana, sans-serif;
}

p.heading > span.En
{
    color: #336; 	
	font-size:83%;
    font-family: Arial, Verdana, sans-serif;
}

p.arrow > span.En
{
    color: #336; 	
	font-size:83%;
    font-family: Arial, Verdana, sans-serif;
}

p.GCn > span.En 
{
    color: #3D3D3D; 
    /* color: #0f0;*/
    font-size: 83%;
    font-family: Verdana, Arial, sans-serif;
}

/* Ad */

table.Ad td {vertical-align:top; color: #005826; padding-top: 0.3em; padding-right: 0.7em;}
/*.wrd {font-family: DFKai-SB, PMingLiU, Arial; color: #9E0B0E;  white-space: nowrap; text-align:right; padding: 0.15em }
.def {color: #005826; padding: 0.15em 0.5em}*/
table.dict td.lc  {vertical-align:top; font-family: DFKai-SB, PMingLiU, Arial; color: #9E0B0E;  white-space: nowrap; padding-right: 1em}