div.MatchingProblem 
{
	margin: 0 1em 1em 1em; 
	border: 1px solid #CCDDAA; 
	line-height:130%;
	font-size: 91%;
	/*background-image: url('Images/dragdrop.png');
	background-repeat:no-repeat;
	background-position: 0 0px;
	padding: 54px 0 10px 54px;
	overflow: auto; 
	padding-top: 1em;
	font-size: 87%;*/
}

div.MatchingProblem span.Answer { cursor: move; white-space: nowrap; }
div.MatchingProblem div.Answers span.Answer, span.Answer.ui-draggable-dragging { border: 1px solid; border-color: #EEE #999 #999 #EEE; background-color: #EEE; color: #666; padding: 0 4px;}
div.MatchingProblem div.Answers { margin: 1em; line-height: 1.8em; padding: 0.5em 2em;/*float: right; width: 9em; margin-top:1em;*/ }
div.MatchingProblem div.Answers span.Answer { margin: 0 0.2em 0.2em 0; }
div.MatchingProblem span.Blank { display: inline-block; min-width: 5em; border-bottom: 1px solid; color: #808080; }
div.MatchingProblem span.Blank.DragOver { background: #CDE; }
div.MatchingProblem span.Blank span.Correct { padding-right: 20px; background: url(../images/check.gif) no-repeat right; }
div.MatchingProblem span.Blank span.Incorrect { color: #F00; }
div.MatchingProblem div.Hidden { display: none; }
div.MatchingProblem button { margin-left: 12pt; }

div.MatchingProblem p.Cn { margin: 1em 12pt 0; color: #669; font-size:100%;}
div.MatchingProblem p.En { margin: 0; }
div.MatchingProblem p.Remark { margin-left: 12pt; }

div.MatchingProblem div.En
{
	color: #363;
	line-height: 1.214em;
	font-family: Georgia, Verdana, Arial, sans-serif;
	margin-left: 12pt;
}	

p.Solution  
{
	margin-left: 1em; 
	padding: 2em;
	background-image: url('Images/CorrectAnswer.png');
	background-repeat:no-repeat;
	background-position: 0 0px;
	padding-top: 40px;
}

p.heading
{
	 color: #336; 	
	 font-family: DFKai-SB, PMingLiU, Arial, sans-serif;
	 font-size:larger;
}

p.ExerciseRemark
{
	 color: #369; 	
	 font-family: DFKai-SB, PMingLiU, Arial, sans-serif;
     display: none;
}

div.Exercises
{
	/*background-image:  url('http://www.taiwantestcentral.com/Images/exercise.gif');*/
	background-image: url('Images/Grammar/Exercise.png');
	background-repeat:no-repeat;
	color: #007236;
	/*padding: 30px 0px 0px 65px;*/
	padding: 30px 12px 10px;
}
	

	
div.Exercises li {
	/*
	list-style-image: url('http://www.taiwantestcentral.com/Images/exercise.gif');
	background-position: 0px 4px;	font: 83% Verdana, Arial, sans-serif;
	*/
	padding: 0.2em 0.5em;
	margin: 0;
	}

div.Exercises table
{
	border-spacing: 4px;
}

div.Exercises table td
{
	background-color: #EEE;
	padding: 0.2em 0.1em;
	text-align: center;
}

div.Exercises span.Blank { display: inline-block; min-width: 6em; border-bottom: 1px solid; color: #808080; }
div.Exercises span.Answer { display: none; }
